<!-- <img src="/assets/images/oneplus.jpg"> -->
<div class="eKart-product">
    <!-- <img [src]="product.pImage">
    <p>MobileName:{{product.name}}</p>
    <p>MobilePrice:${{product.price}}</p>
    <p>MobileColor:{{product.color}}</p>
    <p>Discount:${{getDiscount().toFixed(3)}}</p>
    <p>{{product.inStock>0?"Only "+ product.inStock + " items are left ":"Item Out Of Stock"}}</p>
    <button [disabled]="!(product.inStock > 0)">Buy Now</button>
     <input (input)="getInputValue($event)"> --> <!-- //property Binding -->
    <!-- <p>name:{{name}}</p> -->
    <!-- <button (click)="getDecrement()"> - </button>
    <span>{{addToCart}}</span>
    <button (click)="getIncrement()"> + </button> -->

    <app-search (SearchTextEvent)="onTextChange($event)"></app-search>

    <product-list [searchText]="searchText" #productListComponent></product-list>

    <product-detail *ngIf="productListComponent.selectedProduct"  [productListCompo]="productListComponent"></product-detail>

</div>