<div class="ekart-featured-product-item">

<ng-content select=".title"></ng-content>

<p class="description">

    Lorem Ipsum is simply dummy text of the printing and typesetting industry.

    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti ut ducimus ipsum quaerat, numquam molestiae vero sed ratione non doloremque, cupiditate qui recusandae voluptates tempora voluptatibus dolorum eum. Vero, ea?

</p>



<ng-content select=".call-to-action"></ng-content>

</div>