:host {
    position: relative;
    width: calc(33.33% - 20px); /* Adjust the width and account for padding */
    box-sizing: border-box;
    margin-bottom: 20px; /* Adjust the margin as needed */
    text-align: center; /* Center the content horizontally */
    overflow: hidden; /* Ensure the content doesn't overflow when enlarged */
    transition: transform 0.3s ease; /* Add a smooth transition effect */
}


.ekart--product--item {
    width: 100%;
    background-color: #FDFEFE;
    padding: 10px;
    border: #efefef 2px solid;
    box-sizing: border-box; 
}

.ekart--product--image {
    width: 100%; 
    height: auto; 
}

.ekart--product--name {
    font-size: 14px;
    color: #28282B;
    margin-top: 7px;
}

.ekart--product--category,
.ekart--product--available-colors {
    font-size: 12px;
    color: #999;
    margin-top: 7px;
}


.ekart-on-sale-tag {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    padding: 5px 10px;
    background-color: #FFC000;
    color: #28282B;
    font-weight: bold;
}
:host:hover {
    transform: scale(1.1); 
}
.ekart--add--to--wishlist {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    font-size: 20px;
    color: #ff0000; 
}
    #v{
        padding-right: 25px;
    }
    
    /* .ekart--add--to--price {
        position: absolute;
        top: 50%;
        left: 100%;  
        transform: translate(-50%, -50%);
        padding: 1px 5px;
        background-color: #28282B;
        color: white;
    }  */