
  .ekart--products--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
  }
  
  .ekart--products--container > div {
    width: calc(33.33% - 10px); 
    margin-bottom: 20px; 
    box-sizing: border-box;
  } 
   /* .ekart--add--to--wishlist{
    padding:2px 10px;
    text-align: right;
    font-size: 22px;
    position: absolute;
}  */
.ekart--add--to--wishlist{
  padding:2px 10px;
  text-align: left;
  font-size: 22px;
  position: absolute;
  
}