<app-filter 
[all]="totalProductCount" 
[inStock]="totalProductInStock" 
[outOfStock]="totalProductsOutOfStock"
(selectedFilterRadioButtonChanged)="onFilterChanged($event)">
</app-filter>
<div class="ekart--products--container">

   <!-- <div *ngIf="selectedFilterRadioButton === 'all' || prod.is_in_inventory.toString() === selectedFilterRadioButton">  -->
      
   <ng-container *ngFor="let prod of products" >
      <app-product  [product]="prod" 
      *ngIf="searchText === ''|| prod.name.toLowerCase().includes(searchText.toLowerCase())"
      (click)="selectedProduct=prod"></app-product>
   </ng-container>
   

</div>